@charset "UTF-8";

/*---------------
Zbg
---------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{ margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{ display:block; }
body{ line-height:1; }
ol, ul{ list-style:none; }
blockquote, q{ quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after{ content:''; content:none; }
table{ border-collapse:collapse; border-spacing:0; }
*:focus{ outline:none; }

/*---------------
共通
---------------*/
body{ background-image:url(../img/bg.png); background-color:#fff; background-position:center top; color:#000; font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif; background-attachment:fixed; }

/* 画像hover */
a img{ transition:0.5s; }
a img:hover{ opacity:0.7; }
a{ transition:0.5s; }
a:hover{ opacity:0.7; }
a:hover img{ opacity:0.7; }

/*---------------
ヘッダー
---------------*/
header{ width:100%; padding:20px 0; text-align:center; border-bottom:1px solid #f6d0d6; position:fixed; top:0; transition:0.3s; z-index:99; }
.headerScroll{ background:rgba(255,255,255,0.7); padding:7px 0; }

/*---------------
コンテンツ
---------------*/
#body{ width:650px; margin:98px auto 0; padding:30px 0 55px; background-color:#fff; text-align:center; border:1px solid #d7d7d7; }
#body .main .mainLead{ margin:40px 0 0; }
#body .main .subLead01{ margin:25px 0 0; font-size:14px; line-height:2; font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝"; letter-spacing:2px; }
#body .main .subLead02{ margin:60px 0 40px; font-size:14px; line-height:2; position:relative;  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝"; letter-spacing:2px;}
#body .main .subLead02:before{ position:absolute; content:""; display:block; width:160px; border-top:1px solid #000; top:-30px; left:50%; margin:0 0 0 -80px; }

#body .about{ margin:35px 0 0; }

#body .about p{ font-size:14px; line-height:1.71428571; margin:20px 0 0 0; letter-spacing:2px; }

#body .map{ margin:35px 0 0; }
#body .map .mapLead{ font-size:14px; letter-spacing:1px; margin:15px 0 0; }

#body .map .mapWrap{ width:100%; height:400px; margin:25px 0 0; }

#body .about h2{ margin:30px 0 30px; }
#body .about dl{ width:470px; margin:0 auto; }
#body .about dl:after{ clear:both; display:block; content:""; }
#body .about dl dd:nth-child(2n+1){ margin:10px 0 15px; float:left; }
#body .about dl dd:nth-child(2n){ margin:10px 0 15px; float:right; }
#body .about dl dd img{ display:block; margin:0 0 10px; }
#body .about dl dd a{ color:#000; text-decoration:none; font-size:12px; display:block; }
#body .about .caution{ color:#ec013d; font-size:12px; line-height:1.6; margin:10px 0 40px 0; }
#body .about .caution span{ font-size:15px; font-weight:bold; display:block; }

#body .outro{ margin:40px 0 0; font-size:14px; letter-spacing:2px; line-height:2; color:#505050; font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝"; letter-spacing:2px; }
#body .outro .outroLead{ margin:25px 0 0; }
#body .outro .btnWrap{ margin:32px 0 0; }
#body .outro .btnWrap a{ display:block; margin:25px auto 0; padding:12px 0; font-size:14px; text-decoration:none; color:#1f5f3c; width:275px; border:1px solid #1f5f3c; border-radius:26px; letter-spacing:2px; transition:0.5s; font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif; }
#body .outro .btnWrap a:hover{ opacity:0.5; }

/*---------------
フッター
---------------*/
footer{ text-align:center; font-size:10px; padding:25px 0; color:#d31330; letter-spacing:1px; font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }

/*---------------
override
---------------*/
.gm-style-iw{ text-align:left; padding:10px 0; }
.gm-style-iw div{ overflow:hidden!important; }
.gm-style-iw a{ color:#d31330; }
