@charset "UTF-8";

/* -------------------------
*
*ドラフト01の下取り部分に関するCSSです。
*
 ------------------------- */


 /* 下取りリスト */
 .tradeinListWrap{ position:fixed; top:50px; right:-1000px; z-index:9999; transition:0.3s; }
 .tradeinList_innerHistory{ display:none; }
 .tradeinList_contents{ width:1000px; height:600px; background-color:#fff; }
 .tradeinList_ttl{ width:40px; height:150px; color:#fff; background-color:#2690d0; position:absolute; top:260px; left:0; margin:0 0 0 -40px; cursor:pointer;
 	-webkit-border-radius: 3px 0 0 3px;
 	-moz-border-radius: 3px 0 0 3px;
 	border-radius: 3px 0 0 3px;
 }
 .tradeinList_ttl:hover{
 	-webkit-opacity: .9;
 	-moz-opacity: .9;
 	opacity: .9;
 }
 .tradeinList_ttlTxt{ text-align:center; line-height:40px; height: 150px;
 	border-radius: 3px 0 0 3px;
 	-ms-writing-mode: tb-rl;
 	-webkit-writing-mode: vertical-rl;
 	writing-mode: vertical-rl;
 }
 .tradeinList_mainTtl{ font-size:20px; text-align:center; margin:0; padding:20px 0 0 0; position:relative; }
 .tradeinList_mainTtl:before{ content:""; position:absolute; border-bottom:1px solid #ccc; width:380px; display:block; margin:30px 0 0 0; left:20px; top:0; }
 .tradeinList_mainTtl:after{ content:""; position:absolute; border-bottom:1px solid #ccc; width:380px; display:block; margin:30px 0 0 0; right:20px; top:0; }
 .tradeinList_imgWrap{ width:960px; height:175px; margin:20px auto 0; overflow-x:scroll; overflow-y:hidden; border:1px solid #ccc; }
 .tradeinList_img{ height:100%; display:inline-flex; }
 .tradeinList_imgWrap img{ height:100%; }
 .tradeinList_tabWrap{}
 .tradeinList_tabBtnWrap{ margin:20px auto 0; list-style:none; padding:0; }
 .tradeinList_tabBtnWrap:after{ content:""; display:block; clear:both; }
 .tradeinList_tabBtn{ width:265px; float:left; text-align:center; padding:10px 0; margin:0; border-top:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; cursor:pointer; background:#f5f5f5; }
 .tradeinList_tabBtn:hover{
 	-webkit-opacity: .8;
 	-moz-opacity: .8;
 	opacity: .8;
 }
 .tradeinList_tabBtn-current{ padding:10px 0 11px; background:#fff; border-bottom:none; }
 .tradeinList_tabBtn:first-child{ border-left:1px solid #ccc; }
 .tradeinList_tabBtn:first-child.tradeinList_tabBtn-current{ border-right:1px solid #ccc; }
 .tradeinList_tabBtn:last-child{ border-right:1px solid #ccc; }
 .tradeinList_tabBtn:last-child.tradeinList_tabBtn-current{ border-left:1px solid #ccc; }
 .tradeinList_tabWrap p{ width:960px; margin:0 auto; padding:0; height:10px; border-left:1px solid #ccc; border-right:1px solid #ccc; background:#f5f5f5; }
 .tradeinList_searchWrap{ float:left; text-align:right; border-bottom:1px solid #ccc; height:43px; width:400px; }
 .tradeinList_searchForm{ width:200px; height:27px; text-indent:5px; }
 .tradeinList_tableCellBrand{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
 .tradeinList_tableCellTtl{ height:30px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 2; }
 .tradeinList_table{ list-style:none; margin:0; padding:0; }
 .tradeinList_table:after{ content:""; display:block; clear:both; }
 .tradeinList_tableCell{ float:left; width:162px; margin:15px 30px 0 0; }
 .tradeinList_tableCell:hover{ cursor:pointer;
 	-webkit-opacity: .8;
 	-moz-opacity: .8;
 	opacity: .8;
 }
 .tradeinList_tableCell:nth-child(5n){ margin:15px 0 0 0; }
 .tradeinList_tableCell img{ width:100%; }
 .tradeinList_tableCell p{ font-size:12px; margin:5px 0 0; }

 /* モーダルアイテム */
.tradeinList_modalWrapNew,.tradeinList_modalWrapHistory{ display:none; }
 .tradeinList_modalItemWrapNew,.tradeinList_modalItemWrapHistory{ position:fixed; top:50%; left:50%; width:810px; height:460px; background:#fff; padding:20px; margin:-230px 0 0 -405px; z-index:10001; }
 .tradeinList_modalItemTable{ list-style:none; margin:0; padding:0; outline:none; }
 .tradeinList_modalItemTable:after{ content:""; display:block; clear:both; }
 .tradeinList_modalItemTableCell{ float:left; }
 .tradeinList_modalItemTableCell:first-child{ width:350px; margin:0 20px 0 0; }
 .tradeinList_modalItemTableCell img{ width:100% }
 .tradeinList_modalItemTableList{ width:360px; margin:0 0 45px; height:94px; overflow-y:scroll; }
 .tradeinList_modalItemTableList:after{ content:""; display:block; clear:both; }
 .tradeinList_modalItemTableItem{ float: left; width: 35px; min-height: 42px; margin: 0 10px 5px 0; box-sizing: border-box; cursor: pointer; }
 .tradeinList_modalItemTableItem-current{ border:3px solid #2690d0; }
 .tradeinList_modalItemTableItem-current img{ width:29px; height:36px;}
 .tradeinList_modalItemDataWrap{ padding:0 0 0; }
 .tradeinList_modalItemData{ font-size:13px; margin:0 0 10px 0; }
 .tradeinList_modalItemData:after{ content:""; display:block; clear:both; }
 .tradeinList_modalItemData dt{ float:left; width:85px; }
 .tradeinList_modalItemData dd{ width:280px; float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
 .tradeinList_modalItemDataName{ height:35px; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; white-space:pre-wrap!important; }
 .tradeinList_modalItemBtnWrap{ width:170px; margin:50px auto 0; }
 .tradeinList_modalClose{ width:20px; height:20px; background:url(../img/draft01/tradein/modal_close.png); position:fixed; top:50%; left:50%; margin:-220px 0 0 375px; cursor:pointer; z-index:10001; }
 .tradeinList_modalOverlay{ position:fixed; z-index:10000; top:0px; left:0px; height:100%; width:100%; background:#000;
 -webkit-opacity: .8;
 -moz-opacity: .8;
 opacity: .8;
 }
 /* slick */
 .slick-next{ width:48px; height:48px; background:url("../img/draft01/tradein/slide_next.png"); border:none; background-color:none; overflow:hidden; text-indent:9999999px; position:absolute; top:50%; right:0; margin:-24px -78px 0 0; outline:none; }
 .slick-prev{ width:48px; height:48px; background:url("../img/draft01/tradein/slide_prev.png"); border:none; background-color:none; overflow:hidden; text-indent:9999999px; position:absolute; top:50%; left:0; margin:-24px 0 0 -78px; outline:none; }
