@charset "UTF-8";

/* -------------------------
*
*ドラフト06用のCSSです。
*
 ------------------------- */

/* = = = = = = = = = = = = = = =
ドラフト06
= = = = = = = = = = = = = = =*/

/* 下取り用_コンディションランク */
.rankTradein_btnList{ list-style:none; margin:30px auto 0 auto; padding:0; width:640px; }
.rankTradein_btnList:after{ content:""; display:block; clear:both; }
.rankTradein_btnItem{ float:left; margin:0 20px 10px 0; }
.rankTradein_btnItem:nth-child(6),.rank_btnItem:nth-child(12){ margin:0; }
.rankTradein_columnList{ width:530px; margin:15px auto 0 auto; list-style:none; padding:0; }
.rankTradein_columnItem{ margin:0; padding:0; }
.rankTradein_columnItem:first-child{ margin-bottom:5px; }
.aboutRankTradein_list{ list-style:none; margin:35px auto 0; padding:0; font-size:10px; text-align:center; width:720px; display:table; height:25px; }
.aboutRankTradein_item{ margin:0; display:table-cell;
	-webkit-transition:all 300ms;
	transition:all 300ms;
}
.aboutRankTradein_item:last-child{ color:#999; }
.aboutRankTradein_item-current{ color:#2690d0; font-size:18px; }
.aboutRankTradein_btn{ background:#2690d0; color:#fff; padding:5px 8px; font-size:10px; display:inline; position:absolute; top:30px; right:30px; cursor:pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.aboutRankTradein_btn:hover{
	-webkit-opacity:.8;
	-moz-opacity:.8;
	opacity:.8;
}

/* 下取り用_寸法 */
.tradeinSize{ width:530px; margin:0 auto; }
.tradeinSize_form{ width:530px; height:100px; text-indent:5px; }

/* 下取り用_画像確認 */
.tradeinImgCheck_columnWrap{ padding:0 60px; }
.tradeinImgCheck_columnWrap:after{ content:""; display:block; clear:both; }
.tradeinImgCheck_list{ float:left; list-style:none; width:490px; margin:0 auto; border:1px solid #ccc; padding:10px 0 10px 10px; }
.tradeinImgCheck_list:after{ content:""; display:block; clear:both; }
.tradeinImgCheck_item{ float:left; }
.tradeinImgCheck_item:first-child{ float:left; width:330px; margin:0 10px 0 0; }
.tradeinImgCheck_item:last-child{ height:395px; overflow-x:hidden; overflow-y:overlay; }
.tradeinImgCheck_item img{ width:100%; }
.tradeinImgThumb_list{ width:135px; }
.tradeinImgThumb_list:after{ content:""; display:block; clear:both; }
.tradeinImgThumb_item{ float:left; width:35px; min-height:42px; margin:0 10px 5px 0; box-sizing:border-box; cursor:pointer; }
.tradeinImgThumb_item img{ width:35px; height:42px; }
.tradeinImgThumb_item-current{ border:3px solid #2690d0; }
.tradeinImgThumb_item-current img{ width:29px; height:36px;}
.tradeinImgCheck_rightColumn{ float:left; margin:0 0 0 30px; }
.tradeinImgCheck_color{ }
.tradeinImgCheck_colorTtl{ font-weight:normal; font-size:16px; margin:0 0 5px 0; }
.tradeinImgCheck_colorImg{ width:160px; }
.tradeinImgCheck_colorImg img{ width:100%; }
.tradeinImgCheck_txt{ display:table; vertical-align:bottom; }
.tradeinImgCheck_columnList{ list-style:none; margin:25px 0 0; padding:0; }
.tradeinImgCheck_columnCheck{ padding:7px 0 0; }
.tradeinImgCheck_columnItem{ margin:0 0 15px; }
.tradeinImgCheck_columnItem:first-child{ margin-left:0; }
.tradeinImgCheck_input{ display:none; }
.tradeinImgCheck_label{ position:relative; font-weight:normal; cursor:pointer; padding-left:25px; margin:0; font-size:12px; }
.tradeinImgCheck_label:before{ position:absolute; content:""; top:50%; left:0; width:20px; height:20px; margin-top:-10px; background:#fff; border:4px solid #eae8e9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.tradeinImgCheck_label:hover{ color:#2690d0; }
.tradeinImgCheck_input:checked + label:after { display:block; content:""; position:absolute; top:50%; left:0; width:14px; height:20px; border-right:4px solid #2690d0; border-bottom:4px solid #2690d0; margin: -17px 0 0 4px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.tradeinImgCheck_input:checked + label{ color:#2690d0; }
.tradeinImgCheck_btnWrap{ width:170px; margin:25px 0 0; }
