@charset "UTF-8";
/*!
 * Credit: Crown Jewel, Inc.
 * Developer: Takayuki Suzuki
 * Site: https://www.crownjewel.co.jp/
 * Create: 2017.04.24
 * Modified: 2017.04.24
 * Memo: リニューアル [2017.04.24]
 *
 *
 * https://www.crownjewel.co.jp/
 */
/* ----------------------------------------
 * コンテンツ
 * ---------------------------------------- */
.press_contents {
  margin: 50px 0 0;
  padding: 0;
}

/* ----------------------------------------
 * ヒーロー
 * ---------------------------------------- */
.hero {
  text-align: center;
}

.hero .hero_container {
  padding: 40px 0;
}

.hero .hero_header {
  color: #0ab2f4;
  font-size: 24px;
}

/* ----------------------------------------
 * セクション
 * ---------------------------------------- */
.section .section_list {
  border-top: 1px solid #eef2f4;
  border-bottom: 1px solid #eef2f4;
}

.section .section_item + .section_item {
  border-top: 1px solid #eef2f4;
}

.section .section_link {
  text-decoration: none;
  display: block;
}

.section .section_itemContainer {
  padding: 0 20px;
  display: table;
  height: 90px;
}

.section .section_itemInner {
  display: table-cell;
  vertical-align: middle;
}

.section .section_itemDate {
  font-size: 12px;
  color: #999;
}

.section .section_itemTtl {
  font-size: 13px;
  color: #333;
  margin: 10px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  max-height: 36px;
}

.section .section_itemPdf {
  width: 9px;
  height: 10px;
  background: url(../img/pdf_ico.png);
  background-size: cover;
  display: inline-block;
  margin: 0 5px 0 0;
}

/* ----------------------------------------
 * インフォ
 * ---------------------------------------- */
.info .info_container {
  margin: 0 0 80px;
  text-align: center;
  color: #999;
  font-size: 10px;
}

.info .info_ttl {
  margin: 20px 0 0;
}

.info .info_address {
  margin: 10px 0 0;
}

/**
 * ------------------------------------------------------------
 * PC用レイアウト
 * ------------------------------------------------------------
 */
@media screen and (min-width: 768px) {
  /* ----------------------------------------
	 * コンテンツ
	 * ---------------------------------------- */
  .press_contents {
    margin: 60px auto 0;
    padding: 0;
  }
  /* ----------------------------------------
	 * ヒーロー
	 * ---------------------------------------- */
  .hero .hero_container {
    padding: 40px 0 60px;
  }
  .hero .hero_header {
    font-size: 34px;
  }
  /* ----------------------------------------
	 * セクション
	 * ---------------------------------------- */
  .section .section_container {
    width: 1000px;
    margin: 0 auto;
  }
  .section .section_list {
    border: none;
  }
  .section .section_list:after {
    display: block;
    content: "";
    clear: both;
  }
  .section .section_item {
    border-bottom: 1px solid #eef2f4;
    float: left;
    width: 495px;
  }
  .section .section_item:nth-child(even) {
    margin: 0 0 0 10px;
  }
  .section .section_item + .section_item {
    border-top: none;
  }
  .section .section_item:first-child, .section .section_item:nth-child(2) {
    border-top: 1px solid #eef2f4;
  }
  .section .section_link {
    transition: 0.6s;
  }
  .section .section_link:hover {
    opacity: 0.6;
  }
  .section .section_itemPdf {
    width: 12px;
    height: 13px;
  }
  .section .section_itemTtl {
    font-size: 14px;
    max-height: 40px;
  }
  @-moz-document url-prefix() {
    .section .section_itemTtl {
      display: inline-block;
    }
  }
  /* ----------------------------------------
	 * インフォ
	 * ---------------------------------------- */
  .info .info_container {
    width: 1000px;
    margin: 0 auto 80px;
    font-size: 15px;
  }
  .info .info_ttl {
    margin: 55px 0 0;
  }
}
