@charset "UTF-8";
/*!
 * Credit: Crown Jewel, Inc.
 * Developer: Takayuki Suzuki
 * Site: https://www.crownjewel.co.jp/
 * Create: 2017.04.24
 * Modified: 2017.04.24
 * Memo: リニューアル [2017.04.24]
 *
 *
 * https://www.crownjewel.co.jp/
 */
/**
 * ------------------------------------------------------------
 * レスポンシブ変数宣言
 * ------------------------------------------------------------
 */
/**
 * ------------------------------------------------------------
 * 変数宣言
 * ------------------------------------------------------------
 */
/**
 * ------------------------------------------------------------
 * リセットCSS
 * ------------------------------------------------------------
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, l, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * ------------------------------------------------------------
 * 共通CSS
 * ------------------------------------------------------------
 */
body {
  color: #333;
  line-height: 1.6;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", sans-serif;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* ----------------------------------------
 * ユーティリティ
 * ---------------------------------------- */
.sp_none,
.sp_none-inline {
  display: none !important;
}

.pc_none {
  display: block !important;
}

.pc_none-inline {
  display: inline-block !important;
}

/* ----------------------------------------
 * ヘッダー
 * ---------------------------------------- */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
}

.header .header_overlay {
  display: none;
  width: 100%;
  height: 100vh;
  background: #fff;
  position: absolute;
  z-index: -1;
}

.header .header_container {
  width: 100%;
  height: 50px;
  display: table;
}

.header .header_ttl {
  padding: 0 0 0 15px;
  display: table-cell;
  vertical-align: middle;
}

.header .header_ttlLink {
  display: inline-block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.header .header_ttlSvg {
  width: 140px;
  fill: #1d1d1d;
  transition: 0.6s;
}

.header .header_nav {
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}

.header .header_navItem + .header_navItem {
  margin-top: 30px;
}

.header .header_navLink {
  display: block;
  text-decoration: none;
  color: #1d1d1d;
  font-size: 17px;
}

.header .header_action {
  padding: 0 15px 0;
  display: table-cell;
  vertical-align: middle;
  width: 20px;
}

.header .header_ico {
  display: block;
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #1d1d1d;
  margin: -2px 0 0 0;
}

.header .header_ico:before {
  position: absolute;
  top: -8px;
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #1d1d1d;
  transition: 0.3s;
}

.header .header_ico:after {
  position: absolute;
  top: 8px;
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #1d1d1d;
  transition: 0.3s;
}

.header .header_action-current .header_ico:before {
  top: 0;
}

.header .header_action-current .header_ico:after {
  top: 0;
}

.header .header_action-close .header_ico {
  height: 0;
}

.header .header_action-close .header_ico:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .header_action-close .header_ico:after {
  transform: rotate(45deg);
  top: 0;
}

.header-current {
  background: white;
}

/* ----------------------------------------
 * フッター
 * ---------------------------------------- */
.footer {
  padding: 45px 20px;
  background-color: #f8f8f8;
  font-size: 13px;
  text-align: center;
}

.footer .footer_list {
  display: table;
  margin: 0 auto;
}

.footer .footer_item {
  display: table-cell;
  position: relative;
}

.footer .footer_item:nth-child(2):before {
  display: block;
  content: "";
  width: 1px;
  height: 16px;
  background-color: #666;
  position: absolute;
  left: -1px;
  top: 50%;
  margin-top: -8px;
}

.footer .footer_link {
  color: #666;
  text-decoration: none;
}

.footer .footer_copy {
  display: block;
  margin-top: 35px;
  color: #666;
}

/**
 * ------------------------------------------------------------
 * PC用レイアウト
 * ------------------------------------------------------------
 */
@media screen and (min-width: 768px) {
  /* ----------------------------------------
	 * ユーティリティ
	 * ---------------------------------------- */
  .sp_none-inline {
    display: inline-block !important;
  }
  .sp_none {
    display: block !important;
  }
  .pc_none,
  .pc_none-inline {
    display: none !important;
  }
  /* ----------------------------------------
	 * ヘッダー
	 * ---------------------------------------- */
  .header {
    height: 50px;
  }
  .header .header_container {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
  }
  .header .header_ttl {
    padding: 0;
  }
  .header .header_ttlLink {
    transition: 0.6s;
  }
  .header .header_ttlLink:hover {
    opacity: 0.6;
  }
  .header .header_ttlSvg {
    width: 190px;
    height: 28px;
  }
  .header .header_nav {
    display: table-cell;
    position: inherit;
    vertical-align: middle;
  }
  .header .header_nav:after {
    display: block;
    content: "";
    clear: both;
  }
  .header .header_navList {
    float: right;
  }
  .header .header_navItem {
    display: table-cell;
    padding-left: 30px;
    position: relative;
  }
  .header .header_navItem:first-child {
    padding-left: 0;
  }
  .header .header_navItem:after {
    display: block;
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    margin-top: -8px;
    width: 1px;
    height: 16px;
    background: #505050;
  }
  .header .header_navItem:last-child:after {
    content: none;
  }
  .header .header_navLink {
    font-size: 14px;
  }
  .header .header_navLink:hover {
    text-decoration: underline;
  }
  .header .header_action {
    display: none;
  }
  .header .header_ico {
    display: none;
  }
  /* ----------------------------------------
	 * フッター
	 * ---------------------------------------- */
  .footer {
    padding: 45px 20px;
  }
  .footer .footer_link:hover {
    text-decoration: underline;
  }
}
