@charset "UTF-8";
/*!
 * Credit: Crown Jewel, Inc.
 * Developer: Takayuki Suzuki
 * Site: https://www.crownjewel.co.jp/
 * Create: 2017.04.24
 * Modified: 2018.07.23
 * Memo: リニューアル [2017.04.24]
 * Memo: テキストスタイル追加 [2018.07.23]
 *
 *
 * https://www.crownjewel.co.jp/
 */
/* ----------------------------------------
 * コンテンツ
 * ---------------------------------------- */
.topics_contents {
  margin: 50px 0 0;
  padding: 0;
}

/* ----------------------------------------
 * ヒーロー
 * ---------------------------------------- */
.hero {
  text-align: center;
}

.hero .hero_img {
  width: 100%;
  vertical-align: bottom;
}

/* ----------------------------------------
 * セクション
 * ---------------------------------------- */
.section .section_container {
  padding: 0 20px;
}

.section .section_header {
  padding: 15px 0;
}

.section .section_headerDate {
  font-size: 12px;
  color: #999;
}

.section .section_headerIco-news:before {
  display: inline-block;
  margin-right: 5px;
  padding: 2px 0 1px;
  content: "NEWS";
  width: 60px;
  background-color: #0ab2f4;
  color: #fff;
  text-align: center;
  font-size: 11px;
}

.section .section_headerIco-recruit:before {
  display: inline-block;
  margin-right: 5px;
  padding: 2px 0 1px;
  content: "RECRUIT";
  width: 60px;
  background-color: #10d1aa;
  color: #fff;
  text-align: center;
  font-size: 11px;
}

.section .section_headerTtl {
  margin: 10px 0 0;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  max-height: 51px;
}

.section .section_content {
  border-top: 1px solid #f5f5f5;
  padding: 15px 0 30px;
}

.section .section_txt {
  font-size: 13px;
}

.section .section_txtLink {
  color: #0ab2f4;
}

.section .section_txtBold {
  font-weight: bold;
}

/* ----------------------------------------
 * ナビゲーション
 * ---------------------------------------- */
.postNav .postNav_container {
  margin: 0;
  text-align: center;
  font-size: 12px;
}

.postNav .postNav_list {
  border-top: 1px solid #eef2f4;
  border-bottom: 1px solid #eef2f4;
}

.postNav .postNav_list:after {
  display: block;
  content: "";
  clear: both;
}

.postNav .postNav_item {
  width: 33%;
  position: relative;
}

.postNav .postNav_item:first-child {
  float: left;
  border-right: 1px solid #eef2f4;
}

.postNav .postNav_item:first-child:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -5px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #0ab2f4;
  border-right: 1px solid #0ab2f4;
  transform: rotate(225deg);
}

.postNav .postNav_item:last-child {
  float: right;
  border-left: 1px solid #eef2f4;
}

.postNav .postNav_item:last-child:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -5px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #0ab2f4;
  border-right: 1px solid #0ab2f4;
  transform: rotate(45deg);
}

.postNav .postNav_item.postNav_item-disabled:before {
  border-color: #fff;
}

.postNav .postNav_disabled {
  padding: 15px 0;
  background: #b9b9b9;
  color: #fff;
}

.postNav .postNav_link {
  display: block;
  padding: 15px 0;
  color: #0ab2f4;
  text-decoration: none;
}

/**
 * ------------------------------------------------------------
 * PC用レイアウト
 * ------------------------------------------------------------
 */
@media screen and (min-width: 768px) {
  /* ----------------------------------------
	 * コンテンツ
	 * ---------------------------------------- */
  .topics_contents {
    width: 1000px;
    margin: 60px auto 0;
    padding: 0;
  }
  /* ----------------------------------------
	 * ヒーロー
	 * ---------------------------------------- */
  .hero .hero_container {
    padding: 40px 0 0;
  }
  /* ----------------------------------------
	 * セクション
	 * ---------------------------------------- */
  .section .section_container {
    width: 800px;
    margin: 0 auto;
  }
  .section .section_header {
    padding: 25px 0;
  }
  .section .section_headerTtl {
    font-size: 24px;
    max-height: 76px;
  }
  .section .section_content {
    padding: 25px 0 40px;
  }
  .section .section_txt {
    font-size: 14px;
  }
  .section .section_txtLink {
    transition: 0.6s;
  }
  .section .section_txtLink:hover {
    opacity: 0.6;
  }
  /* ----------------------------------------
	 * ナビゲーション
	 * ---------------------------------------- */
  .postNav .postNav_container {
    width: 800px;
    margin: 0 auto 100px;
  }
  .postNav .postNav_list {
    border: none;
  }
  .postNav .postNav_list:after {
    display: block;
    content: "";
    clear: both;
  }
  .postNav .postNav_item {
    width: auto;
    font-size: 14px;
  }
  .postNav .postNav_item:first-child {
    border-right: none;
    padding: 0 0 0 15px;
  }
  .postNav .postNav_item:first-child:before {
    left: 0;
  }
  .postNav .postNav_item:last-child {
    border: none;
    padding: 0 15px 0 0;
  }
  .postNav .postNav_item:last-child:before {
    right: 0;
  }
  .postNav .postNav_item.postNav_item-disabled:before {
    border-color: #b9b9b9;
  }
  .postNav .postNav_disabled {
    background: transparent;
    color: #b9b9b9;
  }
  .postNav .postNav_link:hover {
    text-decoration: underline;
  }
}
