@charset "UTF-8";
/*!
 * Credit: Crown Jewel, Inc.
 * Developer: Takayuki Suzuki
 * Site: https://www.crownjewel.co.jp/
 * Create: 2017.04.24
 * Modified: 2017.07.03
 * Memo: 認定個人情報保護団体用レイアウト [2017.07.03]
 * Memo: リニューアル [2017.04.24]
 *
 * https://www.crownjewel.co.jp/
 */
/* ----------------------------------------
 * コンテンツ
 * ---------------------------------------- */
.privacy_contents {
  margin: 60px 0 0;
  padding: 0 20px;
}

a.privacy_emailLink {
  color: #0ab2f4;
  text-decoration: none;
}

/* ----------------------------------------
 * ヒーロー
 * ---------------------------------------- */
.hero {
  text-align: center;
}

.hero .hero_container {
  padding: 40px 0;
}

.hero .hero_header {
  color: #0ab2f4;
  font-size: 18px;
}

.hero .hero_lead {
  margin: 30px 0 0;
  font-size: 13px;
  text-align: left;
}

/* ----------------------------------------
 * セクション
 * ---------------------------------------- */
.section {
  padding: 40px 0;
  border-top: 1px solid #eef2f4;
}

.section .section_header {
  font-size: 14px;
  font-weight: bold;
}

.section .section_lead {
  margin: 20px 0 0;
  font-size: 13px;
  text-align: left;
}

.section .section_list {
  margin: 20px 0 0;
  display: table;
  font-size: 13px;
}

.section .section_listTtl,
.section .section_item {
  display: table-cell;
}

.section .section_listTtl {
  width: 5%;
  font-weight: bold;
}

.section .section_item {
  width: 95%;
}

.section .section_itemTtl {
  font-weight: bold;
}

.section .section_itemContainer {
  margin: 10px 0 0;
  font-size: 12px;
}

.section .section_itemContainer em {
  font-style: italic;
  font-weight: bold;
}

.section .section_itemSubList {
  display: table;
  width: 100%;
}

.section .section_itemSubTtl {
  font-weight: bold;
}

.section .section_itemSubListTtl {
  display: table-cell;
  width: 5%;
}

.section .section_itemSubItem {
  display: table-cell;
  width: 95%;
}

.section .section_sign {
  margin: 20px 0 0;
  font-size: 13px;
  text-align: right;
}

.section .section_footer {
  margin: 30px 0 0;
  padding: 0 0 10px;
  border: 1px solid #eef2f4;
  font-size: 11px;
}

.section .section_footerTtl {
  border-bottom: 1px solid #eef2f4;
  padding: 5px 10px;
  text-align: center;
}

.section .section_footerLead {
  padding: 10px 10px 0;
}

/**
 * ------------------------------------------------------------
 * PC用レイアウト
 * ------------------------------------------------------------
 */
@media screen and (min-width: 768px) {
  /* ----------------------------------------
	 * コンテンツ
	 * ---------------------------------------- */
  .privacy_contents {
    width: 800px;
    margin: 60px auto 0;
    padding: 0;
  }
  a.privacy_emailLink:hover {
    text-decoration: underline;
  }
  /* ----------------------------------------
	 * ヒーロー
	 * ---------------------------------------- */
  .hero {
    text-align: center;
  }
  .hero .hero_container {
    padding: 40px 0 60px;
  }
  .hero .hero_header {
    font-size: 24px;
  }
  .hero .hero_lead {
    margin: 45px 0 0;
    font-size: 14px;
  }
  /* ----------------------------------------
	 * セクション
	 * ---------------------------------------- */
  .section {
    padding: 60px 0;
  }
  .section .section_header {
    font-size: 18px;
  }
  .section .section_list {
    font-size: 14px;
  }
  .section .section_listTtl {
    width: 25px;
  }
  .section .section_item {
    width: 775px;
  }
  .section .section_sign {
    font-size: 14px;
    margin: 40px 0 0;
  }
  .section .section_itemContainer {
    font-size: 13px;
    margin: 20px 0 0;
  }
  .section .section_itemSubListTtl {
    width: 20px;
  }
  .section .section_itemSubItem {
    width: 755px;
  }
  .section .section_footer {
    width: 400px;
    font-size: 14px;
    margin: 50px auto 0;
  }
}
