@charset "UTF-8";
/*!
 * Credit: Crown Jewel, Inc.
 * Developer: Takayuki Suzuki
 * Site: https://www.crownjewel.co.jp/
 * Create: 2017.04.24
 * Modified: 2017.04.24
 * Memo: リニューアル [2017.04.24]
 *
 *
 * https://www.crownjewel.co.jp/
 */
/* ----------------------------------------
 * ヒーロー
 * ---------------------------------------- */
.hero {
  text-align: center;
}

.hero .hero_container {
  margin: 50px 0 0;
  width: 100%;
  height: 250px;
  background-image: url(../../recruit/img/hero_sp.jpg);
  background-size: cover;
  background-position: center center;
}

.hero .hero_ttlImg {
  width: 320px;
  margin: 95px auto 0;
}

.hero .hero_lead {
  padding: 0 15px;
  margin: 45px 0;
  font-size: 12px;
}

/* ----------------------------------------
 * インタビュー
 * ---------------------------------------- */
.interview {
  background-color: #f5f5f5;
}

.interview .interview_contaiter {
  padding: 50px 20px;
  text-align: center;
}

.interview .interview_header {
  font-size: 24px;
  color: #fd8da0;
}

.interview .interview_listWrap {
  margin: 30px 0 0;
}

.interview .interview_list {
  width: 100%;
}

.interview .interview_list:after {
  display: block;
  content: "";
  clear: both;
}

.interview .interview_item {
  float: left;
  width: 50%;
  margin: 15px 0 0;
}

.interview .interview_item:first-child, .interview .interview_item:nth-child(2) {
  margin: 0;
}

.interview .interview_itemWrap {
  text-align: left;
}

.interview .interview_link {
  display: block;
  text-decoration: none;
  background-color: #fff;
}

.interview .interview_img {
  width: 100%;
  vertical-align: bottom;
}

.interview .interview_itemTtl {
  padding: 10px 5px 0;
  color: #fd8da0;
  font-size: 12px;
}

.interview .interview_itemLead {
  padding: 0 5px;
  margin: 5px 0 0;
  font-size: 10px;
  color: #333;
}

@media screen and (max-width: 320px) {
  .interview .interview_itemLead {
    font-size: 9px;
  }
}

.interview .interview_itemTxt {
  padding: 0 5px 10px;
  margin: 15px 0 0;
  font-size: 10px;
  color: #999;
}

/* ----------------------------------------
 * エントリー
 * ---------------------------------------- */
.entry {
  padding: 40px 0;
  background-color: #fd8da0;
  background-image: linear-gradient(to top, #e78a05 0%, #e39d06 27%, #ee879a 73%, #fd8ca1 100%);
}

.entry .entry_container {
  padding: 0 20px;
  color: #fff;
}

.entry .entry_typeContainer {
  margin: 35px 0 0;
}

.entry .entry_header {
  font-size: 24px;
  text-align: center;
}

.entry .entry_typeHeader {
  font-size: 18px;
}

.entry .entry_typeLead {
  margin: 10px 0 0;
  font-size: 13px;
}

.entry .entry_typeNavAction {
  margin-top: 25px;
}

.entry .entry_typeBtn {
  display: block;
  background-color: #fff;
  padding: 15px 0;
  color: #fd8da0;
  text-align: center;
  text-decoration: none;
}

.entry .entry_section {
  margin: 20px 0 0;
}

.entry .entry_secList {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.entry .entry_itemHead {
  font-size: 13px;
  font-weight: bold;
  padding: 15px 20px;
  border-top: 1px solid #fff;
  position: relative;
}

.entry .entry_itemHead:after {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -12px;
  width: 16px;
  height: 16px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(135deg);
  transition: 0.6s;
}

.entry .accordion-current .entry_itemHead:after {
  margin-top: -4px;
  transform: rotate(315deg);
}

.entry .entry_itemBody {
  display: none;
  padding: 0 10px 40px;
  border-top: 1px solid #fff;
}

.entry .entry_itemBodyList {
  padding: 40px 0;
}

.entry .entry_itemBodyList + .entry_itemBodyList {
  padding: 40px 0 0;
  margin: 40px 0 0;
  border-top: 1px solid #fff;
}

.entry .entry_itemBodyList:first-child {
  margin: 0;
  padding: 40px 0 0;
}

.entry .entry_itemBodyTtl {
  margin: 0 0 40px;
  text-align: center;
  font-size: 18px;
}

.entry .entry_itemBodyTxtWrap {
  font-size: 13px;
}

.entry .entry_itemBodyTxt + .entry_itemBodyTxt {
  margin: 20px 0 0;
}

.entry .entry_itemBodyTxtList {
  list-style: disc;
  padding: 0 0 0 18px;
}

.entry .entry_itemBodyTxtList + .entry_itemBodyTxt {
  margin: 20px 0 0;
}

.entry .entry_itemBodyNavAction {
  margin-top: 40px;
}

.entry .entry_itemBodyBtn {
  display: block;
  background-color: #fff;
  padding: 15px 0;
  color: #fcab55;
  text-align: center;
  text-decoration: none;
}

/* ----------------------------------------
 *  モーダル
 * ---------------------------------------- */
.modal .modal_content {
  display: none;
  position: absolute;
  z-index: 10001;
  top: 20px;
  padding: 0 20px;
}

.modal .modal_container {
  background: #fff;
  margin: 40px 0 40px;
}

.modal .modal_overlay {
  display: none;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal .modal_hero {
  position: relative;
}

.modal .modal_heroTtlWrap {
  position: absolute;
  left: 10px;
  top: 50%;
  margin: -45px 0 0;
  color: #fff;
}

.modal .modal_heroTtlWrap-yellow {
  color: #333;
}

.modal .modal_heroTtl {
  font-size: 18px;
  display: block;
}

@media screen and (max-width: 320px) {
  .modal .modal_heroTtl {
    font-size: 17px;
  }
}

.modal .modal_heroName {
  font-size: 13px;
  margin: 10px 0 0;
}

.modal .modal_heroTxt {
  font-size: 10px;
}

.modal .modal_heroImg {
  width: 100%;
  vertical-align: bottom;
}

.modal .modal_innerContainer {
  padding: 50px 10px;
}

.modal .modal_ttl {
  margin: 0 0 50px;
  font-size: 18px;
  text-align: center;
}

.modal .modal_txtList + .modal_txtList {
  margin: 20px 0 0;
}

.modal .modal_txtList + .modal_thumb {
  margin: 20px 0 0;
}

.modal .modal_txtTtl {
  font-size: 14px;
  font-weight: bold;
}

.modal .modal_txtLead {
  margin: 20px 0 0;
  font-size: 13px;
}

.modal .modal_thumb + .modal_txtList {
  margin: 20px 0 0;
}

.modal .modal_thumbImg {
  width: 100%;
  vertical-align: bottom;
}

.modal .close_topIco {
  position: relative;
  z-index: 99999999999999999;
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 0 0 auto;
}

.modal .close_topIco:before, .modal .close_topIco:after {
  display: block;
  content: "";
  width: 1px;
  height: 40px;
  transform: rotate(-45deg);
  background-color: #fff;
  position: absolute;
  left: 50%;
}

.modal .close_topIco:after {
  transform: rotate(45deg);
}

.modal .close_bottomIco {
  position: relative;
  z-index: 99999999999999999;
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

.modal .close_bottomIco:before, .modal .close_bottomIco:after {
  display: block;
  content: "";
  width: 1px;
  height: 40px;
  transform: rotate(-45deg);
  background-color: #fff;
  position: absolute;
  left: 50%;
}

.modal .close_bottomIco:after {
  transform: rotate(45deg);
}

/**
 * ------------------------------------------------------------
 * PC用レイアウト
 * ------------------------------------------------------------
 */
@media screen and (min-width: 768px) {
  /* ----------------------------------------
	 * コンテンツ
	 * ---------------------------------------- */
  .recruit_contents {
    margin: 50px auto 0;
    padding: 0;
  }
  /* ----------------------------------------
	 * ヒーロー
	 * ---------------------------------------- */
  .hero .hero_container {
    background-image: url(../../recruit/img/hero_pc.jpg);
  }
  .hero .hero_lead {
    font-size: 18px;
  }
  /* ----------------------------------------
	 * インタビュー
	 * ---------------------------------------- */
  .interview .interview_contaiter {
    width: 1000px;
    margin: 0 auto;
    padding: 45px 0 0;
  }
  .interview .interview_header {
    font-size: 34px;
  }
  .interview .interview_listWrap {
    margin: 45px 0 0;
    padding: 0 0 40px;
  }
  .interview .interview_item {
    width: 250px;
  }
  .interview .interview_item:nth-child(3), .interview .interview_item:nth-child(4) {
    margin: 0;
  }
  .interview .interview_link {
    cursor: pointer;
  }
  .interview .interview_link:hover {
    opacity: 0.8;
  }
  .interview .interview_link:hover .interview_img {
    transform: scale(1.2);
  }
  .interview .interview_img {
    transition: 0.6s;
  }
  .interview .interview_imgWrap {
    height: 164px;
    overflow: hidden;
  }
  .interview .interview_itemTtl {
    font-size: 18px;
  }
  .interview .interview_itemLead {
    font-size: 15px;
    margin: 2px 0 0;
  }
  .interview .interview_itemTxt {
    font-size: 15px;
  }
  /* ----------------------------------------
	 * エントリー
	 * ---------------------------------------- */
  .entry .entry_container {
    width: 800px;
    margin: 0 auto;
  }
  .entry .entry_header {
    font-size: 34px;
  }
  .entry .entry_typeContainer {
    margin: 40px 0 0;
  }
  .entry .entry_typeHeader {
    text-align: center;
    font-size: 24px;
  }
  .entry .entry_typeLead {
    text-align: center;
    font-size: 14px;
    margin: 25px 0 0;
  }
  .entry .entry_typeNavAction {
    width: 240px;
    margin: 25px auto 0;
  }
  .entry .entry_typeBtn {
    font-size: 14px;
    transition: 0.6s;
  }
  .entry .entry_typeBtn:hover {
    opacity: 0.8;
  }
  .entry .entry_section {
    margin: 45px 0 0;
  }
  .entry .entry_itemHead {
    font-size: 18px;
    font-weight: normal;
    padding: 15px 40px;
    transition: 0.6s;
    cursor: pointer;
  }
  .entry .entry_itemHead:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .entry .entry_itemHead:after {
    right: 40px;
    margin-top: -16px;
    width: 20px;
    height: 20px;
  }
  .entry .entry_itemBody {
    padding: 0 35px 40px;
  }
  .entry .entry_itemBodyList {
    padding: 30px 0 0;
    margin: 30px 0 0;
  }
  .entry .entry_itemBodyList:first-child {
    padding: 30px 0 0;
  }
  .entry .entry_itemBodyTtl {
    margin: 0 0 30px;
  }
  .entry .entry_itemBodyTxtWrap {
    font-size: 13px;
  }
  .entry .entry_itemBodyList-column .entry_itemBodyTxt {
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 350px;
    margin: 20px 0 0;
  }
  .entry .entry_itemBodyList-column .entry_itemBodyTxt:nth-child(even) {
    margin-left: 20px;
  }
  .entry .entry_itemBodyNavAction {
    width: 240px;
    margin: 40px auto 0;
  }
  .entry .entry_itemBodyBtn {
    font-size: 14px;
    transition: 0.6s;
  }
  .entry .entry_itemBodyBtn:hover {
    opacity: 0.8;
  }
  /* ----------------------------------------
	 * モーダル
	 * ---------------------------------------- */
  .modal .modal_content {
    width: 800px;
    left: 50%;
    margin-left: -400px;
    padding: 0 0 100px 0;
  }
  .modal .modal_heroTtlWrap {
    margin: -72px 0 0;
    left: 40px;
  }
  .modal .modal_heroTtl {
    font-size: 32px;
  }
  .modal .modal_heroName {
    font-size: 24px;
    margin: 30px 0 0;
  }
  .modal .modal_heroTxt {
    font-size: 16px;
  }
  .modal .modal_heroTxt span {
    padding: 0 10px;
  }
  .modal .modal_innerContainer {
    padding: 45px 40px;
  }
  .modal .modal_ttl {
    font-size: 24px;
    margin: 0 0 40px;
    text-align: center;
  }
  .modal .modal_txtList + .modal_thumb {
    margin: 40px 0 0;
  }
  .modal .modal_txtTtl {
    font-size: 18px;
    font-weight: bold;
  }
  .modal .modal_txtLead {
    font-size: 14px;
  }
  .modal .modal_thumb + .modal_txtList {
    margin: 40px 0 0;
  }
  .modal .close_topIco,
  .modal .close_bottomIco {
    transition: 0.6s;
    cursor: pointer;
  }
  .modal .close_topIco:hover,
  .modal .close_bottomIco:hover {
    opacity: 0.4;
  }
  .modal .close_topIco {
    width: 60px;
    height: 60px;
  }
  .modal .close_topIco:before, .modal .close_topIco:after {
    height: 60px;
  }
  .modal .close_bottomIco {
    width: 60px;
    height: 60px;
  }
  .modal .close_bottomIco:before, .modal .close_bottomIco:after {
    height: 60px;
  }
}
